/* You can add global styles to this file, and also import other style files */

:root {
  --sky-color: #1a94ff;
  --green-color: #43c241;
  --yellow-color: #ffc400;
  --black-color: #27272a;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
